.addTodoButton {
  padding-left: 20px;
  padding-right: 20px;
}

.fa-solid.fa-list {
  color: rgb(97, 143, 223);
  display: inline-block;
  animation: myAnimation 10s 6;
}

@keyframes myAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

.inputField {
  padding: 9px;
  width: 250px;
  border: 1px solid gray;
  border-radius: 10px;
}

.instruction {
  margin-right: 5px;
}

.oneTodo {
  display: flex;
  justify-content: center;
  align-items: center;
}
